body {
	font: 13px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;
	color: #404040;
	background: #CCFFFF;
	width: 100%;
}

.container {
	margin-top: 10%;
}

.header {
	position: relative;
	margin: 0 auto;
	padding: 20px 20px;
	width: 310px;
	border-radius: 3px;
}


.login {
	position: relative;
	margin: 0 auto;
	padding: 20px 20px 20px;
	width: 300px;
	background: #FFFFFF;
	border-radius: 3px;
}

.login input[type=text], .login input[type=password] {
	width: 278px;
}

.login p.submit {
	text-align: right;
}

.login-help {
	margin: 20px 0;
	font-size: 11px;
	color: white;
	text-align: center;
}
.login-help a {
	color: #000000;
	text-decoration: none;
}
.login-help a:hover {
	text-decoration: underline;
}

input {
	font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
	font-size: 14px;
}

input[type=text], input[type=password] {
	margin: 5px;
	padding: 0 10px;
	width: 200px;
	height: 34px;
	color: #404040;
	background: white;
	border: 1px solid;
	border-color: #eff4f7;
	border-radius: 2px;
	outline: 5px solid #eff4f7;
}

input[type=submit] {
	padding: 0 18px;
	height: 35px;
	width: 100px;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-shadow: 0 1px #e3f1f1;
	background: #cde5ef;
	border: 1px solid;
	border-radius: 16px;
	border-color: #eff4f7;
	outline: 0;
}

.Register {
	position: relative;
	margin: 0 auto;
	padding: 20px 20px 20px;
	width: 300px;
	border-radius: 3px;
}

.Register p.submit {
	text-align: right;
}

.Register input[type=text], .Register input[type=password] {
	width: 278px;
}
