body {
	font: 13px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;
	color: #404040;
	background: #CCFFFF;
	width: 100%;
}

.container {
	margin-top: 5%;
}

.header {
	position: relative;
	margin: 0 auto;
	
	width: 310px;
	border-radius: 3px;
}


.login {
	position: relative;
	margin: auto;
	padding: 20px 20px 20px;
	width: 300px;
	background: #FFFFFF;
	border-radius: 3px;
}

.login input[type=text], .login input[type=password] {
	width: 278px;
}

.login p.submit {
	text-align: right;
}

.login-help {
	margin: 20px 0;
	font-size: 11px;
	color: white;
	text-align: center;
}
.login-help a {
	color: #000000;
	text-decoration: none;
}
.login-help a:hover {
	text-decoration: underline;
}

input {
	font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
	font-size: 14px;
}

input[type=text], input[type=password], input[type=email] {
	margin: 5px;
	width: 200px;
	height: 34px;
	color: #404040;
	background: white;
	border: 1px solid;
	border-color: #eff4f7;
	border-radius: 2px;
	outline: 5px solid #eff4f7;
}


input[type=submit] {
	height: 35px;
	width: 100px;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-shadow: 0 1px #e3f1f1;
	background: #cde5ef;
	border: 1px solid;
	border-radius: 16px;
	border-color: #eff4f7;
	outline: 0;
}

.Form {
	position: relative;
	margin: 0 auto;
	padding: 20px 20px 20px;
	width: 300px;
	border-radius: 3px;
}

.Form p.submit {
	text-align: right;
}

.Form input[type=text], .Form input[type=password], .Form input[type=email] {
	width: 278px;
}

a {

	color: #000000;
	text-decoration: none;
	font-weight: bold;

}

a:hover {

	color: #0033CC;

}

header {
	width: 100%;
	height: 70px;
	position: fixed;
	top: 0;
	left: 0;
	border-bottom: 4px solid #000000;
	z-index: 100;

}

#logo{

	margin-right: 10px;
	float: right;
	width: 50px;
	height: 70px;
	background: url(/CoffeeMachineAS/images/home.png) no-repeat center;
	

}

nav {

	float: left;
	padding: 20px;	
	
}

#menu-icon {

	display: hidden;
	width: 40px;
	height: 40px;
	background: url(/CoffeeMachineAS/images/menu-icon.png) center;

}

li {

	display: inline-block;

}



@media only screen and (max-width : 640px) {

	#menu-icon {

		display:inline-block;

	}

	nav ul, nav:active ul { 

		display: none;
		position: absolute;
		padding: 20px;
		background: #fff;
		border: 3px solid #000000;
		border-top: none;
		border-left: none;
		left: 0px;
		top: 60px;
		width: 30%;
		border-radius: 4px 0 4px 4px;

	}

	nav li {

		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;

	}

	nav:hover ul {

		display: block;

	}
